{% extends "site_app/global/base.html" %}

{% block content %}
<div class="container-fluid mt-3">
    <form action="{% url 'atualizar_id' pessoa.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="nome" value="{{pessoa.nome}}" placeholder="Produto" />
        <input type="text" name="email" value="{{pessoa.email}}" placeholder="Código de barras" />
        <input type="number" name="idade" value="{{pessoa.idade}}" placeholder="Quantidade" />
        <button type="submit">Salvar</button>
    </form>
    
</div>
{% endblock content %}

